.mobile {
  display: none;
}

@media screen and (max-width: 1299px) {
  .header__link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 960px) {
  .header__right {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
  .hamburger-btn.close {
    display: none;
  }

  .main__sec1 {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .main__sec1 video {
    width: auto;
    height: 100%;
  }
  .main__sec1 .container:before {
    bottom: 0;
  }
}
@media screen and (max-width: 560px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .section .container__title__top {
    width: 51px;
    margin-bottom: 12px;
  }
  .section .container__title p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .section .container__title h1 {
    font-size: 18px;
    letter-spacing: 0;
    height: 18px;
  }
  .section .container__title--bottom {
    width: 307px;
    margin-top: 17px;
  }

  .header {
    height: 65px;
  }
  .header__left {
    padding-left: 15px;
  }
  .header__left img {
    width: 159px;
  }

  .hamburger-btn {
    width: 65px;
  }

  .menu {
    padding: 128px 40px;
  }

  .main__sec1 {
    height: 521px;
  }
  .main__sec1 .container .content .title {
    width: 320px;
  }
  .main__sec1 .container .content .subtitle {
    font-weight: 400;
    letter-spacing: 0;
    font-size: 12px;
    height: 26px;
    margin-top: 0;
  }
  .main__sec1 .container .content .button {
    bottom: -90px;
  }
  .main__sec1 .scroll {
    right: 10px;
    bottom: 50px;
    font-size: 12px;
    line-height: 16px;
  }
  .main__sec1 .scroll:before {
    bottom: -50px;
    height: 40px;
  }
  .main__sec1 .scroll:after {
    bottom: -90px;
    height: 40px;
  }

  .main__sec2 .container {
    width: auto;
    height: auto;
  }
  .main__sec2 .container__top {
    margin-top: 49px;
    margin-bottom: 162px;
  }
  .main__sec2 .container__top img {
    width: 303px;
  }
  .main__sec2 .container__top h1 {
    margin-top: 20px;
    height: 70px;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.17em;
  }
  .main__sec2 .container__top h1 span {
    font-size: 22px;
  }
  .main__sec2 .container__top p {
    margin-top: 20px;
    height: 64px;
    font-size: 12px;
    line-height: 26px;
  }
  .main__sec2 .container__bottom {
    margin-bottom: 70px;
  }
  .main__sec2 .container__title:before {
    top: -120px;
    height: 80px;
  }
  .main__sec2 .container__content {
    display: unset;
    margin-top: 38px;
    width: 100vw;
  }
  .main__sec2 .container__content .panel p {
    width: 241px;
  }

  .main__sec3 {
    height: 7491px;
    background: url(../img/bg_gradient_sp@3x.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main__sec3 .container__title {
    padding-top: 50px;
  }
  .main__sec3 .container__content .card {
    width: 375px;
    margin-bottom: 110px;
  }
  .main__sec3 .container__content .card__tag {
    font-size: 13px;
    top: -46px;
    right: 154px;
    left: unset;
    padding: 69px 17px 18px;
    width: 67px;
    height: 109px;
  }
  .main__sec3 .container__content .card__tag span {
    font-size: 18px;
  }
  .main__sec3 .container__content .card__tag:before {
    top: 21px;
    right: 33px;
  }
  .main__sec3 .container__content .card__sign {
    display: none;
  }
  .main__sec3 .container__content .card__image {
    display: none;
  }
  .main__sec3 .container__content .card__image--sp {
    position: absolute;
    top: 160px;
    width: 370px;
    z-index: 5;
  }
  .main__sec3 .container__content .card__container {
    width: 359px;
    right: 8px;
    left: unset;
    padding: 0;
  }
  .main__sec3 .container__content .card__container--title {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 26px;
  }
  .main__sec3 .container__content .card__container--subtitle {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
  }
  .main__sec3 .container__content .card__container--message {
    text-align: center;
    margin-bottom: 32px;
  }
  .main__sec3 .container__content .card__container--info {
    flex-direction: column;
    align-items: center;
  }
  .main__sec3 .container__content .card__container--info h1 {
    margin-bottom: 10px;
    margin-right: 0;
    height: 16px;
    text-align: center;
  }
  .main__sec3 .container__content .card__container--info p {
    height: 24px;
    text-align: center;
    font-weight: 400px;
  }
  .main__sec3 .container__content .card__container--info.info-color {
    margin-bottom: 30px;
  }
  .main__sec3 .container__content .card__container--info.info-arrange {
    margin-bottom: 30px;
  }
  .main__sec3 .container__content .card__container--point {
    margin: 0 8px 16px;
  }
  .main__sec3 .container__content .card.card--1 {
    height: 1331px;
  }
  .main__sec3 .container__content .card.card--1 .card__container {
    top: 577px;
    padding-top: 96px;
    height: auto;
  }
  .main__sec3 .container__content .card.card--1 .card__container--title {
    top: -474px;
  }
  .main__sec3 .container__content .card.card--1 .card__container--subtitle {
    top: -436px;
  }
  .main__sec3 .container__content .card.card--1 .card__container--point p {
    color: #6B5657;
    line-height: 23.8px;
    font-weight: 40;
  }
  .main__sec3 .container__content .card.card--2 {
    height: 1362px;
  }
  .main__sec3 .container__content .card.card--2 .card__container {
    top: 599px;
    padding-top: 74px;
    height: auto;
  }
  .main__sec3 .container__content .card.card--2 .card__container--title {
    top: -496px;
  }
  .main__sec3 .container__content .card.card--2 .card__container--subtitle {
    top: -458px;
  }
  .main__sec3 .container__content .card.card--2 .card__container--point p {
    line-height: 23.8px;
    font-weight: 40;
  }
  .main__sec3 .container__content .card.card--3 {
    height: 1297px;
  }
  .main__sec3 .container__content .card.card--3 .card__container {
    height: auto;
    padding-top: 163px;
    top: 510px;
  }
  .main__sec3 .container__content .card.card--3 .card__container--title {
    top: -407px;
  }
  .main__sec3 .container__content .card.card--3 .card__container--subtitle {
    top: -369px;
  }
  .main__sec3 .container__content .card.card--3 .card__container--point p {
    color: #6B5657;
    line-height: 23.8px;
    font-weight: 40;
  }
  .main__sec3 .container__content .card.card--4 {
    height: 1352px;
  }
  .main__sec3 .container__content .card.card--4 .card__container {
    height: auto;
    padding-top: 108px;
    top: 565px;
  }
  .main__sec3 .container__content .card.card--4 .card__container--title {
    top: -462px;
  }
  .main__sec3 .container__content .card.card--4 .card__container--subtitle {
    top: -424px;
  }
  .main__sec3 .container__content .card.card--4 .card__container--point p {
    line-height: 23.8px;
    font-weight: 40;
  }
  .main__sec3 .container__content .card.card--5 {
    height: 1364px;
  }
  .main__sec3 .container__content .card.card--5 .card__container {
    height: auto;
    padding-top: 96px;
    top: 577px;
  }
  .main__sec3 .container__content .card.card--5 .card__container--title {
    top: -474px;
  }
  .main__sec3 .container__content .card.card--5 .card__container--subtitle {
    top: -436px;
  }
  .main__sec3 .container__content .card.card--5 .card__container--point p {
    color: #6B5657;
    line-height: 23.8px;
    font-weight: 40;
  }
}

/*# sourceMappingURL=responsive.css.map */
