@charset "UTF-8";
@font-face {
  font-family: "Noto Sans CJK JP";
  src: url("../NotoSansCJKjp-Regular.otf");
  font-weight: 500;
}
@font-face {
  font-family: "ERIJI";
  src: url("../えり字.otf");
  font-weight: 500;
}
@font-face {
  font-family: "New York Small";
  src: url("../NewYorkSmall-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
.fadein-down {
  transition: 1s;
  transform: translateY(-60px);
  opacity: 0;
}
.fadein-down.fadein {
  transform: translateY(0);
  opacity: 1;
}

.header {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header__left {
  padding-left: 48px;
}
.header__left img {
  width: 215px;
}
.header__right {
  display: flex;
  flex-wrap: nowrap;
}
.header__link {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  margin-right: 40px;
  width: auto;
  white-space: nowrap;
}

.header--fadein {
  z-index: 20;
  position: fixed;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 13px rgba(152, 104, 108, 0.15);
}
.header--fadein__link {
  color: #484848;
}

.header--top {
  position: absolute;
}

.hamburger-btn {
  width: 95px;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

.menu {
  display: none;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 50;
}
.menu ul li {
  margin-bottom: 48px;
}
.menu ul li a {
  font-family: "Noto Serif JP", serif;
  color: #484848;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.menu img {
  position: absolute;
  right: 0;
  bottom: -11px;
}

html, body, .main {
  overflow-x: hidden;
}

.section {
  position: relative;
}
.section .container__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section .container__title--top {
  width: 64px;
  margin-bottom: 16px;
}
.section .container__title p {
  color: #EA6A74;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  font-family: "New York Small";
  height: 18px;
}
.section .container__title h1 {
  color: #484848;
  font-size: 24px;
  letter-spacing: 0.02em;
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  height: 24px;
}
.section .container__title--bottom {
  width: 386px;
  margin-top: 20px;
}
.section .container__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 42px;
  width: 100%;
}
.section .container__content .panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 273px;
}
.section .container__content .panel img {
  width: 200px;
  margin-bottom: 33px;
}
.section .container__content .panel h6 {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 5px;
  line-height: 150%;
  font-weight: bold;
  color: #484848;
  margin-bottom: 12px;
  text-align: center;
}
.section .container__content .panel p {
  font-size: 14px;
  letter-spacing: 5px;
  color: #484848;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
.section .container__content .panel--last img {
  margin-bottom: 20px;
}
.section .container__content .panel--last h6 {
  margin-bottom: 4px;
}
.section__backgroundtext--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.section__backgroundtext--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slide-dots {
  position: relative;
  text-align: center;
  margin-top: 34px;
}
.slide-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slide-dots li button {
  background-color: transparent;
  border: none;
  position: relative;
  text-indent: -9999px;
  width: 10px;
}
.slide-dots li button:before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CEC1C2;
}
.slide-dots li.slick-active {
  width: 30px;
}
.slide-dots li.slick-active button {
  width: 30px;
}
.slide-dots li.slick-active button:before {
  content: '';
  width: 30px;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EA6A74;
}

.main__sec1 {
  background-color: #FFFFFF;
  width: 100%;
}
.main__sec1 video {
  width: 100%;
}
.main__sec1 .container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__sec1 .container:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background: url(../img/top_movie_overlay@3x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  opacity: .9;
  /* 透過度を適宜指定してください */
  z-index: 1;
  bottom: 1px;
}
.main__sec1 .container .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.main__sec1 .container .content .subtitle {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
  line-height: 220%;
  margin-top: 11.5px;
}
.main__sec1 .container .content .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  bottom: -110px;
}
.main__sec1 .container .content .button span {
  position: absolute;
  left: 50px;
}
.main__sec1 .container .content .button:before {
  content: "";
  position: absolute;
  right: 25px;
  width: 21px;
  height: 1px;
  background-color: #FFFFFF;
}
.main__sec1 .container .content .button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.main__sec1 .container .content .button:hover::after {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
.main__sec1 .scroll {
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  writing-mode: vertical-rl;
  position: absolute;
  right: 36px;
  bottom: 69px;
  font-weight: 400;
  z-index: 2;
}
.main__sec1 .scroll:before {
  content: "";
  position: absolute;
  right: 10px;
  bottom: -69px;
  width: 1px;
  height: 55px;
  background-color: #FFFFFF;
}
.main__sec1 .scroll:after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: -124px;
  width: 1px;
  height: 55px;
  background-color: #B79ACA;
}

@-webkit-keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
.main__sec2 {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__sec2 .container {
  width: 1164px;
  height: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__sec2 .container__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 92px 0 190px;
}
.main__sec2 .container__top h1 {
  text-align: center;
  margin-top: 5px;
  height: 64px;
  font-size: 32px;
  font-family: "Noto Serif JP", serif;
  color: #484848;
  line-height: 160%;
  letter-spacing: 0.08em;
}
.main__sec2 .container__top h1 span {
  color: #EA6A74;
  font-weight: 600;
  font-size: 40px;
}
.main__sec2 .container__top p {
  margin-top: 27px;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #FFFCF9;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Sans CJK JP";
  color: #484848;
  font-weight: 500;
  text-align: center;
  line-height: 220%;
  letter-spacing: 3px;
}
.main__sec2 .container__bottom {
  width: 100%;
  margin-bottom: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__sec2 .container__title {
  position: relative;
}
.main__sec2 .container__title:before {
  content: "";
  position: absolute;
  top: -150px;
  width: 1px;
  height: 100px;
  background-color: #CBBCA9;
}

.main__sec3 {
  width: 100%;
  height: 5035px;
  background: url(../img/bg_gradient_pc@3x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.main__sec3 .container {
  width: 100%;
  z-index: 1;
}
.main__sec3 .container__title {
  padding-top: 80px;
  margin-bottom: 86px;
}
.main__sec3 .container__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__sec3 .container__content .card {
  position: relative;
  width: 1080px;
  height: 802px;
  z-index: 2;
  margin-bottom: 140px;
}
.main__sec3 .container__content .card__tag {
  position: absolute;
  font-size: 16px;
  font-family: "Noto Serif JP", serif;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
  z-index: 4;
  top: -67px;
  padding: 86px 23px 34px;
}
.main__sec3 .container__content .card__tag span {
  font-size: 24px;
}
.main__sec3 .container__content .card__tag:before {
  position: absolute;
  top: 38px;
  right: 43px;
  content: "";
  width: 1px;
  height: 30px;
  background-color: #FFFFFF;
}
.main__sec3 .container__content .card__sign {
  position: absolute;
  z-index: 4;
}
.main__sec3 .container__content .card__image {
  position: absolute;
  top: 132px;
  width: 527px;
  z-index: 4;
}
.main__sec3 .container__content .card__container {
  position: absolute;
  top: 0;
  width: 750px;
  height: 100%;
  z-index: 3;
  background-color: #FFFFFF;
}
.main__sec3 .container__content .card__container--info {
  display: flex;
}
.main__sec3 .container__content .card__container--info h1 {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.02em;
  height: 26px;
  width: 85px;
  margin-right: 21px;
  color: #484848;
}
.main__sec3 .container__content .card__container--info p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.5px;
  color: #333333;
}
.main__sec3 .container__content .card__container--info.info-color {
  margin-bottom: 7px;
}
.main__sec3 .container__content .card__container--info.info-arrange {
  margin-bottom: 40px;
}
.main__sec3 .container__content .card__container--point {
  background-color: #FCFAFA;
  padding: 20px;
  margin-bottom: 16px;
}
.main__sec3 .container__content .card__container--point h1 {
  display: flex;
  align-items: center;
  height: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  font-family: "Noto Serif JP", serif;
  margin-bottom: 15px;
  color: #484848;
  letter-spacing: 0.02em;
}
.main__sec3 .container__content .card__container--point h1 span {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #C6221F;
  font-family: "New York Small";
  padding: 1px 10px 1px 0;
  letter-spacing: 3px;
}
.main__sec3 .container__content .card__container--point p {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.5px;
  color: #333333;
}

.card--1 {
  background-color: #FFF7EB;
}
.card--1 .card__tag {
  background-color: #D6B398;
  right: 30px;
}
.card--1 .card__sign {
  left: -27px;
  top: -8px;
}
.card--1 .card__image {
  left: 10px;
}
.card--1 .card__container {
  right: 0;
  padding: 100px 70px 140px 232px;
}
.card--1 .card__container--title {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #744E2F;
}
.card--1 .card__container--subtitle {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #744E2F;
}
.card--1 .card__container--message {
  font-family: "ERIJI";
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
  color: #B9987E;
  -webkit-text-stroke: 0.5px #B9987E;
}
.card--2 {
  background-color: #D2B7A7;
}
.card--2 .card__tag {
  background-color: #907267;
  left: 30px;
}
.card--2 .card__sign {
  right: -30px;
  top: 0;
}
.card--2 .card__image {
  right: 10px;
}
.card--2 .card__container {
  left: 0;
  padding: 100px 232px 140px 70px;
}
.card--2 .card__container--title {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #5E3D29;
}
.card--2 .card__container--subtitle {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #5D3D29;
}
.card--2 .card__container--message {
  font-family: "ERIJI";
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
  color: #8F7A73;
  -webkit-text-stroke: 0.5px #8F7A73;
}
.card--2 .card__container--message span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  font-size: 27px;
  letter-spacing: -5px;
  -webkit-text-stroke: 0.3px #FFFFFF;
}
.card--3 {
  background-color: #F8F8F8;
}
.card--3 .card__tag {
  background-color: #484848;
  right: 30px;
}
.card--3 .card__sign {
  left: -34px;
  top: -10px;
}
.card--3 .card__image {
  left: 10px;
}
.card--3 .card__container {
  right: 0;
  padding: 100px 70px 140px 232px;
}
.card--3 .card__container--title {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #403D3D;
}
.card--3 .card__container--subtitle {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #403D3D;
}
.card--3 .card__container--message {
  font-family: "ERIJI";
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
  color: #82838F;
  -webkit-text-stroke: 0.5px #82838F;
}
.card--4 {
  background-color: #CAC4EC;
}
.card--4 .card__tag {
  background-color: #9392E0;
  left: 30px;
}
.card--4 .card__sign {
  right: -9px;
  top: -2px;
}
.card--4 .card__image {
  right: 10px;
}
.card--4 .card__container {
  left: 0;
  padding: 100px 232px 140px 70px;
}
.card--4 .card__container--title {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #5A4283;
}
.card--4 .card__container--subtitle {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #5A4283;
}
.card--4 .card__container--message {
  font-family: "ERIJI";
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
  color: #9B74CD;
  -webkit-text-stroke: 0.5px #9B74CD;
}
.card--5 {
  background-color: #FAC8CB;
}
.card--5 .card__tag {
  background-color: #EB838B;
  right: 30px;
}
.card--5 .card__sign {
  left: -26px;
  top: -5px;
}
.card--5 .card__image {
  left: 10px;
}
.card--5 .card__container {
  right: 0;
  padding: 100px 70px 140px 232px;
}
.card--5 .card__container--title {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #A6596B;
}
.card--5 .card__container--subtitle {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #A6596B;
}
.card--5 .card__container--message {
  font-family: "ERIJI";
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
  color: #EB838B;
  font-size: 34px;
  -webkit-text-stroke: 0.5px #EB838B;
}

.main__sec4 {
  position: relative;
  width: 100%;
  height: 970px;
  z-index: 1;
}
.main__sec4 .heart-circle {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 260px;
  height: 260px;
  z-index: 2;
}
.main__sec4 .heart-circle .heart {
  position: absolute;
  width: 60px;
  top: 100px;
  left: 100px;
}
.main__sec4 .heart-circle .circle {
  position: absolute;
  width: 260px;
  top: 0;
  left: 0;
}
.main__sec4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.main__sec4 .container__title {
  margin-top: 64px;
}
.main__sec4 .container__content {
  position: relative;
  width: 1276px;
  margin-top: 80px;
}
.main__sec4 .container__content--text {
  position: absolute;
  width: 552px;
  height: 420px;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 60px 56px;
  z-index: 2;
}
.main__sec4 .container__content--text h1 {
  position: relative;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #302E39;
}
.main__sec4 .container__content--text h1 span {
  padding-left: 38px;
}
.main__sec4 .container__content--text h1:after {
  position: absolute;
  top: 0;
  left: 129px;
  content: "";
  height: 30px;
  width: 2px;
  background-color: #302E39;
}
.main__sec4 .container__content--text p {
  padding-top: 46px;
  padding-left: 3px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36.4px;
  letter-spacing: 0.5px;
  color: #484848;
}
.main__sec4 .container__content--text img {
  position: absolute;
  bottom: 44px;
  right: 47px;
  width: 178px;
}
.main__sec4 .container__content--image {
  position: absolute;
  top: 0;
  right: 0;
  width: 940px;
  z-index: 1;
}

.main__sec5 {
  width: 100%;
  height: 941px;
  background: #FDF4F2;
  z-index: 0;
}
.main__sec5 .container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__sec5 .container img {
  width: 272px;
  margin: 70px 0 63px;
}
.main__sec5 .container h1 {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0.1em;
  margin-bottom: 48px;
}
.main__sec5 .container h1 .span1 {
  margin: 0 8px;
  color: #EA6A74;
}
.main__sec5 .container h1 .span2 {
  position: relative;
  font-style: normal;
  font-size: 70px;
  line-height: 60px;
  color: #EA6A74;
}
.main__sec5 .container h1 .span2:after {
  background: url(../img/icon_rown@3x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 38px;
  left: 60px;
  top: -20px;
  content: "";
  position: absolute;
  display: inline-block;
}
.main__sec5 .container h1 .span3 {
  font-size: 30px;
  line-height: 60px;
}
.main__sec5 .container__content {
  width: 1300px;
  height: 225px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 131px;
  margin-top: 0;
}
.main__sec5 .container__content .panel2 {
  position: relative;
  width: 310px;
  height: 225px;
}
.main__sec5 .container__content .panel2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.main__sec5 .container__content .panel2 p {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #484848;
  letter-spacing: 0.04em;
}
.main__sec5 .container__content .panel2 .text1 {
  width: 210px;
  margin-top: 46px;
}
.main__sec5 .container__content .panel2 .text2 {
  width: 221px;
  margin-top: 46px;
}
.main__sec5 .container__content .panel2 .text3 {
  width: 230px;
  margin-top: 53px;
}
.main__sec5 .container__content .panel2 .text4 {
  width: 230px;
  margin-top: 53px;
}
.main__sec5 .container small {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #A19BA1;
  padding-bottom: 100px;
}

.main__sec6 {
  background-color: #FFFDFB;
  width: 100%;
  height: 3004px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__sec6 .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__sec6 .container__title {
  margin-top: 36px;
  margin-bottom: 50px;
}
.main__sec6 .container .banner {
  width: 918px;
  margin-bottom: 59px;
}
.main__sec6 .container .banner img {
  width: 100%;
}
.main__sec6 .container .selectbox {
  margin-left: 20px;
  margin-bottom: 30px;
  width: 345px;
  height: 48px;
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
}
.main__sec6 .container .selectbox:after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 220px;
  top: 35%;
  border-bottom: #EA6A74 2px solid;
  border-right: #EA6A74 2px solid;
  transform: rotate(45deg) translateY(-30%);
}
.main__sec6 .container .selectbox select {
  width: 248px;
  height: 48px;
  padding: 13px 16px;
  color: #E4BFC2;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #EA6A74;
  -webkit-appearance: none;
  appearance: none;
}
.main__sec6 .container .selectbox select:focus {
  outline: none;
}
.main__sec6 .container .selectbox input {
  display: inline-block;
  width: 87px;
  height: 48px;
  padding: 14px;
  text-align: center;
  color: #FFFFFF;
  background-color: #EA6A74;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #EA6A74;
}
.main__sec6 .container .selectbox input:focus {
  outline: none;
}
.main__sec6 .container small {
  font-family: "Noto Sans CJK JP";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 26px;
  margin-bottom: 52px;
  color: #ED717A;
  letter-spacing: 2px;
}
.main__sec6 .container__content {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 130px;
}
.main__sec6 .container__content .shop {
  width: 240px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__sec6 .container__content .shop a:first-child {
  margin: 30px 30px 25px;
}
.main__sec6 .container__content .shop a img {
  width: 180px;
}
.main__sec6 .container__content .shop a.shopname {
  letter-spacing: 0.4em;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  font-family: "Noto Serif JP", serif;
  color: #EA6A74;
  height: 32px;
  text-align: center;
}
.main__sec6 .container__content .shop a.shopname::after {
  content: '';
  display: inline-block;
  background: url(../img/ic_external-link@3x.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 18px;
  margin-left: 4px;
}
.main__sec6 .container__content .shop.colorok {
  position: relative;
}
.main__sec6 .container__content .shop.colorok:after {
  position: absolute;
  content: 'カラーOK';
  font-family: "Noto Sans CJK JP";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  color: #FFFDFB;
  background: #ED717A;
  border-radius: 50px;
  width: 61px;
  height: 21px;
  bottom: 40px;
  left: 90px;
  display: inline-block;
}

.main__sec7 {
  width: 100%;
  height: 720px;
  background-color: #F1E3D1;
  padding: 110px 0;
}
.main__sec7 .container {
  margin: 0 auto;
  width: 1050px;
  height: 500px;
  position: relative;
}
.main__sec7 .container .appimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 521px;
}
.main__sec7 .container__content {
  margin-top: 0;
  width: 100%;
  height: 100%;
  padding: 16px 0 16px 610px;
  display: flex;
  flex-direction: column;
}
.main__sec7 .container__content h1 {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.2em;
  color: #484848;
  margin-bottom: 37px;
}
.main__sec7 .container__content img {
  position: unset;
  width: 386px;
}
.main__sec7 .container__content ul {
  margin: 23px 0;
}
.main__sec7 .container__content ul li {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 220%;
  white-space: nowrap;
  letter-spacing: 0.07em;
  color: #484848;
  margin-left: -8px;
}
.main__sec7 .container__content .link {
  margin-top: 51px;
  display: flex;
}
.main__sec7 .container__content .link .apple {
  width: 120px;
  margin-right: 8px;
}
.main__sec7 .container__content .link .apple img {
  width: 100%;
}
.main__sec7 .container__content .link .google {
  width: 135px;
}
.main__sec7 .container__content .link .google img {
  width: 100%;
}

footer {
  width: 100%;
  height: 86px;
  background-color: #7E726A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer small {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #F4F4F4;
  letter-spacing: 0.15em;
}

/*# sourceMappingURL=style.css.map */
