// sass ./scss/responsive.scss:./css/responsive.css --style expanded

// レイアウト幅
$layout-width-inner: 1300px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 560px)",
  "tab": "screen and (max-width: 960px)",
  "smpc": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.mobile{
  display:none;
}

// 1300（PC表示小さめ）
@include mq('smpc') {
  .header{
    &__left{
      & img{
      }
    }
    &__link{
      margin-right:20px;
    }
  }

  .main__sec1{
    & video{
    }
    & .container{
      & .content{
        & .subtitle{
        }
        & .button{
        }
      }
    }
    & .scroll{
    }
  }
}

// 960以下（タブレット）
@include mq('tab'){
  .header{
    &__left{
      & img{
      }
    }
    &__right{
      display: none;
    }
    &__link{
    }
  }
  .hamburger-btn{
    display: block;
    &.close{
      display:none;
    }
  }
  .menu{
    
  }
  
  .main__sec1{
    height:100vh;
    width:auto;
    display: flex;
    justify-content: center;
    & video{
      width:auto;
      height:100%;
    }
    & .container{
      &:before{
        bottom:0;
      }
      & .content{
        & .subtitle{
        }
        & .button{
        }
      }
    }
    & .scroll{
    }
  }
}

// 560以下（スマホ）
@include mq('sp') {
  .mobile{
    display:block;
  }
  .desktop{
    display:none;
  }

  // 共通スマホデザイン
  .section{
    & .container{
      &__title{
        &__top{
          width:51px;
          margin-bottom: 8px;
        }
        & p{
          font-weight:400;
          font-size:10px;
          line-height: 12px;
          margin-bottom: 4px;
        }
        & h1{
          font-size: 18px;
          letter-spacing: 0;
          height:18px;
        }
        &--bottom{
          width:307px;
          margin-top: 17px;
        }
      }
    }
  }

  .header{
    height:65px;
    &__left{
      padding-left:15px;
      & img{
        width:159px;
      }
    }
  }
  .hamburger-btn{
    width:65px;
  }
  .menu{
    padding:128px 40px;
  }
  
  .main__sec1{
    height:521px;
    & .container{
      & .content{
        & .title{
          width:320px;
        }
        & .subtitle{
          font-weight: 400;
          letter-spacing: 0;
          font-size: 12px;
          height:26px;
          margin-top:0;
        }
        & .button{
          bottom:-90px;
        }
      }
    }
    & .scroll{
      right:10px;
      bottom:50px;
      font-size: 12px;
      line-height: 16px;
      &:before{
        bottom:-50px;
        height:40px;
      }
      &:after{
        bottom:-90px;
        height:40px;
      }
    }
  }

  .main__sec2{
    & .container{
      width:auto;
      height:auto;
      &__top{
        margin-top:49px;
        margin-bottom: 162px;
        & img{
          width:303px;
        }
        & h1{
          margin-top:20px;
          height:70px;
          font-size:14px;
          line-height: 35px;
          letter-spacing: 0.17em;
          & span{
            font-size: 22px;
          }
        }
        & p{
          margin-top: 20px;
          height:64px;
          font-size:12px;
          line-height:26px;
        }
      }
      &__bottom{
        margin-bottom:70px;
      }
      &__title{
        &:before{
          top:-120px;
          height:80px;
        }
      }
      &__content{
        display:unset;
        margin-top:38px;
        width:100vw;
        & .panel{
          & p{
            width:241px;
          }
        }
      }
    }
  }

  .main__sec3{
    height:7491px;
    background: url(../img/bg_gradient_sp@3x.svg);
    background-size: cover;
    background-repeat: no-repeat;
    & .container{
      &__title{
        padding-top:50px;
      }
      &__content{
        & .card{
          width:375px;
          margin-bottom: 110px;
          &__tag{
            font-size: 13px;
            top:-46px;
            right:154px;
            left:unset;
            padding:69px 17px 18px;
            width:67px;
            height:109px;
            & span{
              font-size: 18px;
            }
            &:before{
              top:21px;
              right:33px;
            }
          }
          &__sign{
            display:none;
          }
          &__image{
            display:none;
          }
          &__image--sp{
            position: absolute;
            top:160px;
            width:370px;
            z-index:5;
          }
          &__container{
            width:359px;
            right:8px;
            left:unset;
            padding:0;
            &--title{
              position: absolute;
              left:0;
              width:100%;
              text-align: center;
              font-size: 30px;
              line-height: 26px;
            }
            &--subtitle{
              position: absolute;
              left:0;
              width:100%;
              text-align: center;
              font-size: 19px;
              line-height: 26px;
              font-weight:400;
            }
            &--message{
              text-align: center;
              margin-bottom:32px;
            }
            &--info{
              flex-direction: column;
              align-items: center;
              & h1{
                margin-bottom:10px;
                margin-right:0;
                height:16px;
                text-align:center;
              }
              & p{
                height:24px;
                text-align: center;
                font-weight:400px;
              }
              &.info-color{
                margin-bottom: 30px;
              }
              &.info-arrange{
                margin-bottom: 30px;
              }
            }
            &--point{
              margin:0 8px 16px;
            }
          }
          &.card--1{
            height:1341px;
            .card__container{
              top:577px;
              padding-top:96px;
              height:auto;
              &--title{
                top:-474px;
              }
              &--subtitle{
                top:-436px;
              }
              &--point{
                & p{
                  color: #6B5657;
                  line-height:23.8px;
                  font-weight:40;
                }
              }
            }
          }
          &.card--2{
            height:1362px;
            .card__container{
              top:599px;
              padding-top:74px;
              height:auto;
              &--title{
                top:-496px;
              }
              &--subtitle{
                top:-458px;
              }
              &--point{
                & p{
                  line-height:23.8px;
                  font-weight:40;
                }
              }
            }
          }
          &.card--3{
            height:1307px;
            .card__container{
              height:auto;
              padding-top:163px;
              top:510px;
              &--title{
                top:-407px;
              }
              &--subtitle{
                top:-369px;
              }
              &--point{
                & p{
                  color: #6B5657;
                  line-height:23.8px;
                  font-weight:40;
                }
              }
            }
          }
          &.card--4{
            height:1352px;
            .card__container{
              height:auto;
              padding-top:108px;
              top:565px;
              &--title{
                top:-462px;
              }
              &--subtitle{
                top:-424px;
              }
              &--point{
                & p{
                  line-height:23.8px;
                  font-weight:40;
                }
              }
            }
          }
          &.card--5{
            height:1364px;
            .card__container{
              height:auto;
              padding-top:96px;
              top:577px;
              &--title{
                top:-474px;
              }
              &--subtitle{
                top:-436px;
              }
              &--point{
                & p{
                  color: #6B5657;
                  line-height:23.8px;
                  font-weight:40;
                }
              }
            }
          }
        }
      }
    }
  }

  .main__sec4{
    height:900px;
    z-index:6;
    & .heart-circle{
      position:absolute;
      right:-60px;
      bottom:-55px;
      width:200px;
      height:200px;
      z-index:6;
      & .heart{
        position: absolute;
        width:47px;
        top:79px;
        left:76px;
        z-index:6
      }
      & .circle{
        width:200px;
        z-index:6;
      }
    }
    & .container{
      height:100%;
      &__title{
        margin-top:56px;
      }
      &__content{
        margin-top:35px;
        width:375px;
        height:700px;
        &--text{
          width:375px;
          height:420px;
          padding:30px 20px 134px;
          & h1{
            font-size:26px;
            margin-left:60px;
            &:after{
              top:3px;
              left:99px;
              height:20px;
            }
          }
          & p{
            padding-top:50px;
            padding-left:0;
          }
          & img{
            bottom:37.72px;
            right:23.76px;
            width:166.77px;
          }
        }
        &--image{
          top:unset;
          right:50%;
          transform: translate(50%, 0);
          bottom:0;
          width:auto;
          height:280px;
          margin:auto;
          z-index:4;
        }
      }
    }
  }

  .main__sec5{
    height:856px;
    width:100%;
    z-index:5;
    & .container{
      & img{
        margin:80px 0 51px;
      }
      & h1{
        font-size:17px;
        margin-bottom:123px;
        & .span1{
          margin-left: 0;
          margin-right: 4px;
        }
        & .span2{
          font-size:40px;
          &:after{
            width:36px;
            height:30px;
            left:30px;
            top:-10px;
          }
        }
        & .span3{
          display:none;
        }
      }
      &__content{
        display:unset;
        width:100vw;
        height:auto;
        .panel2{
          width:310px;
          height:225px;
          & img{
            width:310px;
            left:50%;
            transform: translateX(-50%);
          }
        }
      }
      & small{
        position:absolute;
        width:343px;
        bottom:450px;
        font-size:12px;
        line-height: 20px;
        padding-left:10px;
        padding-bottom: 0;
      }
    }
  }

  .main__sec6{
    height:2986px;
    & .container{
      width:375px;
      margin:0 auto;
      height:100%;
      &__title{
        margin-top:50px;
        margin-bottom:30px;
      }
      & .banner{
        width:100%;
        margin-bottom:30px;
      }
      & small{
        font-size:14px;
        line-height: 24px;
        letter-spacing: 3px;
        text-align: center;
        height:50px;
        margin-bottom:35px;
      }
      &__content{
        width:328px;
        margin-bottom:101px;
        & .shop{
          width:164px;
          height:187px;
          & a{
            &:first-child{
              margin:0 32px 8px;
            }
            & img{
              width:100px;
            }
            &.shopname{
              font-size: 14px;
              height:22px;
              &::after{
                margin-left: 4px;
                transform: translateY(2px);
              }
            }
          }
          &.colorok{
            &:after{
              bottom:30px;
              left:50px;
            }
          }
        }
      }
    }
  }
}

