// sass ./scss/style.scss:./css/style.css --style expanded

@font-face{
  font-family: "Noto Sans CJK JP";
  src: url("../NotoSansCJKjp-Regular.otf");
  font-weight: 500;
}
@font-face{
  font-family: "ERIJI";
  src: url("../えり字.otf");
  font-weight: 500;
}
@font-face{
  font-family: "New York Small";
  src: url("../NewYorkSmall-Regular.otf");
  font-style: normal;
  font-weight: 400;
}


// フォント集
  $sans: 'Noto Sans JP', sans-serif;
  $serif: 'Noto Serif JP', serif;
  $cjk: 'Noto Sans CJK JP';
  $newyork: 'New York Small';
  $eriji: 'ERIJI';
  // optimaは有料だったので代替フォント
  $optima: 'Marcellus', serif;
// 文字の色
  $color:#FFFCF9;
  $fontcolor:#484848;
  $pink: #EA6A74;

@mixin subtitle{
  font-size: 16px;
  letter-spacing: -0.01em;
  color:$color;
  font-family: $sans;
}

@mixin text{
  font-size: 14px;
  letter-spacing: 5px;
  color:$fontcolor;
  font-family: $sans;
  font-weight: 500;
}

@mixin button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:200px;
  height:50px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-size:18px;
  letter-spacing: 0.01em;
  color: $color;
  font-family: $sans;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  z-index: 2;
}
@mixin cardtitle{
  font-family: $serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

@mixin cardsubtitle{
  font-family: $serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

@mixin cardmessage{
  font-family: $eriji;
  font-size: 36px;
  line-height: 37px;
  letter-spacing: -9px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  white-space: nowrap;
}

.fadein-down{
  transition: 1s;
  transform: translateY(-60px);
  opacity:0;
  &.fadein{
    transform: translateY(0);
    opacity:1;
  }
}

// ヘッダー
.header{
  width:100%;
  height:95px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index: 10;
  &__left{
    padding-left:48px;
    & img{
      width:215px;
    }
  }
  &__right{
    display: flex;
    flex-wrap: nowrap;
  }
  &__link{
    @include subtitle;
    margin-right:40px;
    width:auto;
    white-space: nowrap;
  }
}

.header--fadein{
  z-index:20;
  position:fixed;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 13px rgba(152, 104, 108, 0.15);
  &__link{
    color:$fontcolor;
  }
}

.header--top{
  position:absolute;
}

.hamburger-btn{
  width:95px;
  z-index:100;
  position: fixed;
  top:0;
  right:0;
  display:none;
}

.menu{
  display:none;
  cursor: pointer;
  overflow: hidden;
  position:fixed;
  width:100%;
  height:100%;
  background-color: #FFFFFF;
  z-index:50;
  & ul li{
    margin-bottom: 48px;
    & a{
      font-family: $serif;
      color: #484848;
      letter-spacing: -0.01em;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
  }
  & img{
    position: absolute;
    right:0;
    bottom:-11px;
  }
}

// 共通デザイン
html,body,.main{
  overflow-x: hidden;
}
.section{
  position: relative;
  & .container{
    &__title{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &--top{
        width: 64px;
        margin-bottom: 16px;
      }
      & p{
        color: $pink;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        margin-bottom: 8px;
        font-family: $newyork;
        height:18px;
      }
      & h1{
        color:$fontcolor;
        font-size: 24px;
        letter-spacing: 0.02em;
        font-family: $serif;
        font-weight: 500;
        height:24px;
      }
      &--bottom{
        width:386px;
        margin-top: 20px;
      }
    }
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top:42px;
      width:100%;
      & .panel{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:273px;
        & img{
          width:200px;
          margin-bottom: 33px;
        }
        & h6{
          @include subtitle;
          letter-spacing: 5px;
          line-height: 150%;
          font-weight: bold;
          color:$fontcolor;
          margin-bottom: 12px;
          text-align: center;
        }
        & p{
          @include text;
          line-height: 150%;
          text-align: center;
        }
        &--last{
          & img{
            margin-bottom: 20px;
          }
          & h6{
            margin-bottom: 4px;
          }
        }
      }   
    }
  }
  &__backgroundtext--top{
    position: absolute;
    top:0;
    left:0;
    width:100%;
  }
  &__backgroundtext--bottom{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
  }
}

.slide-dots{
  position: relative;
  text-align: center;
  margin-top:34px;
  li{
    display: inline-block;
    margin: 0 5px;
    button{
      background-color: transparent;
      border:none;
      position: relative;
      text-indent: -9999px;
      width:10px;
      &:before{
        content: '';
        width:10px;
        height:2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color:#CEC1C2;
      }
    }
    &.slick-active{
      width:30px;
      button{
        width:30px;
      }
      button:before{
        content: '';
        width:30px;
        height:2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #EA6A74;
      }
    }
  }
}

// セクション１
.main__sec1{
  background-color: #FFFFFF;
  width:100%;
  & video{
    width:100%;
  }
  & .container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before{
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      background: url(../img/top_movie_overlay@3x.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: fixed;
      opacity: .9;  /* 透過度を適宜指定してください */
      z-index: 1;
      bottom:1px;
    }
    & .content{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 2;
      & .subtitle{
        @include subtitle;
        letter-spacing: 2px;
        line-height: 220%;
        margin-top:11.5px;
      }
      & .button{
        @include button;
        position: absolute;
        bottom:-110px;
        & span{
          position:absolute;
          left:50px;
        }
        &:before{
          content:"";
          position: absolute;
          right:25px;
          width:21px;
          height:1px;
          background-color: #FFFFFF;
        }
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 2;
          display: block;
          content: '';
          width: 0;
          height: 0;
          background-color: rgba(255,255,255,.3);
          border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          opacity: 0;
        }
        &:hover::after {
          -webkit-animation: circle .75s;
          animation: circle .75s;
        }
      }
    }
  }
  & .scroll{
    @include subtitle;
    writing-mode: vertical-rl;
    position:absolute;
    right:36px;
    bottom:69px;
    font-weight: 400;
    z-index:2;
    &:before{
      content:"";
      position:absolute;
      right:10px;
      bottom:-69px;
      width:1px;
      height:55px;
      background-color: #FFFFFF;
    }
    &:after{
      content:"";
      position:absolute;
      right:10px;
      bottom:-124px;
      width:1px;
      height:55px;
      background-color: #B79ACA;
    }
  }
}

// ボタンアニメーション
@-webkit-keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}
@keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

// セクション２
.main__sec2{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  & .container{
    width:1164px;
    height:1170px;
    display:flex;
    flex-direction: column;
    align-items: center;
    &__top{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width:100%;
      margin: 92px 0 190px;
      & h1{
        text-align: center;
        margin-top: 5px;
        height:64px;
        font-size:32px;
        font-family: $serif;
        color:$fontcolor;
        line-height: 160%;
        letter-spacing: 0.08em;
        & span{
          color: $pink;
          font-weight: 600;
          font-size: 40px;
        }
      }
      & p{
        margin-top: 27px;
        @include subtitle;
        font-family: $cjk;
        color:$fontcolor;
        font-weight: 500;
        text-align: center;
        line-height: 220%;
        letter-spacing: 3px;
      }
    }
    &__bottom{
      width:100%;
      margin-bottom:118px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__title{
      position: relative;
      &:before{
        content:"";
        position:absolute;
        top:-150px;
        width:1px;
        height:100px;
        background-color: #CBBCA9;
      }
    }
  }
}

// セクション３
.main__sec3{
  width: 100%;
  height:5035px;
  background: url(../img/bg_gradient_pc@3x.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  & .container{
    width:100%;
    z-index:1;
    &__title{
      padding-top:80px;
      margin-bottom: 86px;
    }
    &__content{
      width:100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      & .card{
        position: relative;
        width:1080px;
        height:802px;
        z-index:2;
        margin-bottom: 140px;
        &__tag{
          position: absolute;
          font-size: 16px;
          font-family: $serif;
          line-height: 22px;
          font-weight: 400;
          color: #FFFFFF;
          z-index:4;
          top:-67px;
          padding:86px 23px 34px;
          & span{
            font-size: 24px;
          }
          &:before{
            position: absolute;
            top:38px;
            right:43px;
            content:"";
            width:1px;
            height:30px;
            background-color: #FFFFFF;
          }
        }
        &__sign{
          position: absolute;
          z-index: 4;
        }
        &__image{
          position: absolute;
          top:132px;
          width:527px;
          z-index: 4;
        }
        &__container{
          position: absolute;
          top:0;
          width:750px;
          height:100%;
          z-index:3;
          background-color: #FFFFFF;
          &--info{
            display: flex;
            & h1{
              font-family: $serif;
              font-weight: bold;
              font-size: 18px;
              line-height: 16px;
              letter-spacing: 0.02em;
              height:26px;
              width:85px;
              margin-right: 21px;
              color:$fontcolor;
            }
            & p{
              font-family: $sans;
              font-weight: normal;
              font-size: 14px;
              line-height: 170%;
              letter-spacing: 0.5px;
              color: #333333;
            }
            &.info-color{
              margin-bottom: 7px;
            }
            &.info-arrange{
              margin-bottom: 40px;
            }
          }
          &--point{
            background-color:#FCFAFA;
            padding:20px;
            margin-bottom: 16px;
            & h1{
              display: flex;
              align-items: center;
              height:16px;
              font-weight: bold;
              font-size: 18px;
              line-height: 16px;
              font-family: $serif;
              margin-bottom: 15px;
              color:$fontcolor;
              letter-spacing: 0.02em;
              & span{
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                color: #C6221F;
                font-family: $newyork;
                padding: 1px 10px 1px 0;
                letter-spacing: 3px;
              }
            }
            & p{
              font-family:$sans;
              font-weight: normal;
              font-size: 14px;
              line-height: 170%;
              letter-spacing: 0.5px;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

// カードによる色や配置の違いを以下で指定
.card{
  &--1{
    background-color: #FFF7EB;
    .card__tag{
      background-color: #D6B398;
      right:30px;
    }
    .card__sign{
      left:-27px;
      top:-8px;
    }
    .card__image{
      left:10px;
    }
    .card__container{
      right:0;
      padding:100px 70px 140px 232px;
      &--title{
        @include cardtitle;
        color: #744E2F;
      }
      &--subtitle{
        @include cardsubtitle;
        color: #744E2F;
      }
      &--message{
        @include cardmessage;
        color: #B9987E;
        -webkit-text-stroke: 0.5px #B9987E;
      }
    }
  }
  &--2{
    background-color: #D2B7A7;
    .card__tag{
      background-color: #907267;
      left:30px;
    }
    .card__sign{
      right:-30px;
      top:0;
    }
    .card__image{
      right:10px;
    }
    .card__container{
      left:0;
      padding:100px 232px 140px 70px;
      &--title{
        @include cardtitle;
        color: #5E3D29;
      }
      &--subtitle{
        @include cardsubtitle;
        color:  #5D3D29;
      }
      &--message{
        @include cardmessage;
        color: #8F7A73;
        -webkit-text-stroke: 0.5px #8F7A73;
        & span{
          font-family: $sans;
          font-weight: 100;
          font-size: 27px;
          letter-spacing: -5px;
          -webkit-text-stroke: 0.3px #FFFFFF;
        }
      }
    }
  }
  &--3{
    background-color: #F8F8F8;
    .card__tag{
      background-color: #484848;
      right:30px;
    }
    .card__sign{
      left:-34px;
      top:-10px;
    }
    .card__image{
      left:10px;
    }
    .card__container{
      right:0;
      padding:100px 70px 140px 232px;
      &--title{
        @include cardtitle;
        color: #403D3D;
      }
      &--subtitle{
        @include cardsubtitle;
        color:  #403D3D;
      }
      &--message{
        @include cardmessage;
        color:  #82838F;
        -webkit-text-stroke: 0.5px #82838F;
      }
    }
  }
  &--4{
    background-color: #CAC4EC;
    .card__tag{
      background-color: #9392E0;
      left:30px;
    }
    .card__sign{
      right:-9px;
      top:-2px;
    }
    .card__image{
      right:10px;
    }
    .card__container{
      left:0;
      padding:100px 232px 140px 70px;
      &--title{
        @include cardtitle;
        color: #5A4283;
      }
      &--subtitle{
        @include cardsubtitle;
        color:   #5A4283;
      }
      &--message{
        @include cardmessage;
        color:  #9B74CD;
        -webkit-text-stroke: 0.5px #9B74CD;
      }
    }
  }
  &--5{
    background-color: #FAC8CB;
    .card__tag{
      background-color: #EB838B;
      right:30px;
    }
    .card__sign{
      left:-26px;
      top:-5px;
    }
    .card__image{
      left:10px;
    }
    .card__container{
      right:0;
      padding:100px 70px 140px 232px;
      &--title{
        @include cardtitle;
        color: #A6596B;
      }
      &--subtitle{
        @include cardsubtitle;
        color: #A6596B;
      }
      &--message{
        @include cardmessage;
        color: #EB838B;
        font-size: 34px;
        -webkit-text-stroke: 0.5px #EB838B;
      }
    }
  }
}

// セクション４
.main__sec4{
  position: relative;
  width: 100%;
  height:970px;
  z-index: 1;
  & .heart-circle{
    position: absolute;
    right:20px;
    bottom:20px;
    width:260px;
    height:260px;
    z-index:2;
    & .heart{
      position: absolute;
      width:60px;
      top:100px;
      left:100px;
    }
    & .circle{
      position: absolute;
      width:260px;
      top: 0;
      left: 0;
    }
  }
  & .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    &__title{
      margin-top: 64px;
    }
    &__content{
      position: relative;
      width:1276px;
      margin-top: 80px;
      &--text{
        position: absolute;
        width:552px;
        height:420px;
        top:0;
        left:0;
        background-color: #FFFFFF;
        padding: 60px 56px;
        z-index:2;
        & h1{
          position: relative;
          font-family: $serif;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: 26px;
          letter-spacing: 1px;
          color: #302E39;
          & span{
            padding-left:38px;
          }
          &:after{
            position: absolute;
            top:0;
            left:129px;
            content: "";
            height:30px;
            width:2px;
            background-color: #302E39;
          }
        }
        & p{
          padding-top:46px;
          padding-left:3px;
          font-family: $sans;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 36.4px;
          letter-spacing: 0.5px;
          color:$fontcolor;
        }
        & img{
          position: absolute;
          bottom:44px;
          right:47px;
          width:178px;
        }
      }
      &--image{
        position: absolute;
        top:0;
        right:0;
        width:940px;
        z-index:1;
      }
    }
  }
}

.main__sec5{
  width:100%;
  height: 941px;
  background: #FDF4F2;
  z-index:0;
  & .container{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    & img{
      width:272px;
      margin: 70px 0 63px;
    }
    & h1{
      font-family: $serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 40px;
      color:$fontcolor;
      letter-spacing: 0.1em;
      margin-bottom: 48px;
      & .span1{
        margin:0 8px;
        color: #EA6A74;
      }
      & .span2{
        position: relative;
        font-style: normal;
        font-size: 70px;
        line-height: 60px;
        color: #EA6A74;
        &:after{
          background: url(../img/icon_rown@3x.svg);
          background-size: cover;
          background-repeat: no-repeat;
          width:45px;
          height:38px;
          left:60px;
          top:-20px;
          content: "";
          position: absolute;
          display:inline-block;
        }
      }
      & .span3{
        font-size: 30px;
        line-height: 60px;
      }
    }
    &__content{
      width:1300px;
      height:225px;
      display: flex;
      justify-content: space-between;
      margin-bottom:131px;
      margin-top:0;
      .panel2{
        position: relative;
        width:310px;
        height:225px;
        & img{
          position: absolute;
          top:0;
          left:0;
          width:100%;
          margin:0;
        }
        & p{
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: $serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 160%;
          color:$fontcolor;
          letter-spacing: 0.04em;
        }
        & .text1{
          width:210px;
          margin-top: 46px;
        }
        & .text2{
          width:221px;
          margin-top:46px;
        }
        & .text3{
          width:230px;
          margin-top:53px;
        }
        & .text4{
          width:230px;
          margin-top:53px;
        }
      }
    }
    & small{
      font-family: $serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #A19BA1;
      padding-bottom:100px;
    }
  }
}

.main__sec6{
  background-color:  #FFFDFB;
  width:100%;
  height:3004px;
  & .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title{
      margin-top:36px;
      margin-bottom:50px;
    }
    & .banner{
      width:918px;
      margin-bottom: 59px;
      & img{
        width:100%;
      }
    }
    & .selectbox{
      margin-left:20px;
      margin-bottom:30px;
      width:345px;
      height:48px;
      font-family: $sans;
      position: relative;
      &:after{
        content:"";
        display:block;
        width:7px;
        height:7px;
        position:absolute;
        left:220px;
        top:35%;
        border-bottom:#EA6A74 2px solid;
        border-right:#EA6A74 2px solid;
        transform:rotate(45deg)translateY(-30%);
      }
      & select{
        width:248px;
        height:48px;
        padding:13px 16px;
        color:#E4BFC2;
        font-weight: 500;
        font-size: 14px;
        border: 1px solid #EA6A74;
        -webkit-appearance:none;
        appearance:none;
      }
      & input{
        display:inline-block;
        width:87px;
        height:48px;
        padding:14px;
        text-align: center;
        color:#FFFFFF;
        background-color: #EA6A74;
        font-weight: 500;
        font-size: 18px;
        border:1px solid #EA6A74;
      }
    }
    & small{
      font-family: $cjk;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      height:26px;
      margin-bottom:52px;
      color: #ED717A;
      letter-spacing: 2px;
    }
    &__content{
      width:960px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom:130px;
      & .shop{
        width:240px;
        height:336px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & a{
          &:first-child{
            margin:30px 30px 25px;
          }
          & img{
            width:180px;
          }
          &.shopname{
            letter-spacing: 0.4em;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 160%;
            font-family: $serif;
            color: #EA6A74;
            height:32px;
            text-align: center;

            &::after{
              content: '';
              display: inline-block;
              background: url(../img/ic_external-link@3x.svg);
              background-size: contain;
              background-repeat: no-repeat;
              width: 16px;
              height: 18px; 
              margin-left:4px;
            }
          }
        }
        &.colorok{
          position: relative;
          &:after{
            position: absolute;
            content: 'カラーOK';
            font-family: $cjk;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 21px;
            text-align: center;
            color: #FFFDFB;
            background: #ED717A;
            border-radius: 50px;
            width:61px;
            height:21px;
            bottom:40px;
            left:90px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.main__sec7{
  width:100%;
  height:720px;
  background-color: #F1E3D1;
  padding: 110px 0;
  & .container{
    margin:0 auto;
    width:1050px;
    height:500px;
    position:relative;
    & .appimg{
      position: absolute;
      top:0;
      left: 0;
      width:521px;
    }
    &__content{
      margin-top:0;
      width:100%;
      height:100%;
      padding:16px 0 16px 610px;
      display: flex;
      flex-direction: column;
      & h1{
        font-family: $serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 0.2em;
        color:$fontcolor;
        margin-bottom: 37px;
      }
      & img{
        position:unset;
        width:386px;
      }
      & ul{
        margin:23px 0;
        & li{
          font-family: $sans;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 220%;
          white-space: nowrap;
          letter-spacing: 0.07em;
          color:$fontcolor;
          margin-left: -8px;
        }
      }
      & .link{
        margin-top:51px;
        display: flex;
        & .apple{
          width:120px;
          margin-right:8px;
          & img{
            width:100%;
          }
        }
        & .google{
          width:135px;
          & img{
            width:100%;
          }
        }
      }
    }
  }
}

footer{
  width:100%;
  height: 86px;
  background-color: #7E726A;
  display: flex;
  justify-content: center;
  align-items: center;
  & small{
    font-family: $serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #F4F4F4;
    letter-spacing: 0.15em;
  }
}